[run]
branch = True
omit =
    *manage.py
    *wsgi.py
    *asgi.py
    */tests.py
    */test_*
    *unit_test_helpers.py
    */migrations/*.py

[report]
precision = 1
show_missing = True
skip_empty = True
