config_files/
cli_config.json
firmware/esp-idf/
firmware/micropython/
firmware/*.bin
.coverage
*.coverage.*
.env
*release.log
frontend/webapp/static/webapp/*.woff
frontend/webapp/static/webapp/*.woff2
frontend/webapp/static/webapp/*.LICENSE.txt
frontend/webapp/static/webapp/api_card.js
frontend/webapp/static/webapp/api_overview.js
frontend/webapp/static/webapp/edit_config.js
frontend/webapp/static/webapp/offline.js
frontend/webapp/static/webapp/overview.js
frontend/webapp/static/webapp/unable_to_connect.js
frontend/coverage/
setup_ssl_certs.py
*.der
lib/hardware_classes.py
lib/ir_code_classes.py
*.log
*.txt
build/
*.egg-info/
