[Unit]
Description=Micropython smarthome desktop integration served by gunicorn
After=network.target
StartLimitIntervalSec=30
StartLimitBurst=12

[Service]
Restart=on-failure
User=jamedeus
Environment="DISPLAY=:0"
WorkingDirectory=/home/jamedeus/git/micropython-smarthome
ExecStart=/home/jamedeus/.local/bin/gunicorn --workers 2 --bind 0.0.0.0:5000 desktop-integration:app

[Install]
WantedBy=network.target
