[Unit]
Description=Micropython smarthome desktop integration
After=network.target

[Service]
User=jamedeus
Environment="DISPLAY=:0"
ExecStart=/usr/bin/python3 -u /home/jamedeus/git/micropython-smarthome/desktop-integration.py

[Install]
WantedBy=network.target
