[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "~=0.4.3"
django = "~=4.0"
django-pwa = ">=1.1"
questionary = "*"
requests = "*"
util = {file = "util", editable = true}

[dev-packages]
ipython = "8.14.0"
nest-asyncio = "*"
coverage = "*"
pylint = "*"
pylint-django = "*"
mpremote = "~=1.22.0"
esptool = "~=4.7.0"
codespell = "*"

[requires]
python_version = "3.13"
