/* Define the initial state and the transition */
.fade-enter {
    opacity: 0;
    transition: opacity 400ms ease;
}

.fade-enter-active {
    opacity: 1;
}

.fade-exit {
    opacity: 1;
    transition: opacity 400ms ease;
}

.fade-exit-active {
    opacity: 0;
}
