@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";
@import "../../node_modules/bootstrap/scss/_variables-dark";
@import "../../node_modules/bootstrap/scss/_mixins";
@import "../../node_modules/bootstrap/scss/_close";


/* Limit width for readability on large screen sizes */
@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}

/* Limit width to 50% on desktop but not mobile */
@media (min-width: 768px) {
    .max-width-md-50 {
        max-width: 50%;
    }
}

/* Remove border around disabled buttons */
.btn:disabled, .btn:active {
    border-color: transparent !important
}

/* Set table column to minimum width with class */
td {
    width: 50%;
}

td.min {
    width: 1%;
    white-space: nowrap;
}

/* Section backgrounds (existing nodes, schedule keywords) */
.section {
    background-color: #eee;
    border: 1px solid #c8c8c8;
    border-radius: 15px;
    padding: 0.5rem;
    margin: 0.1rem;
    text-align: center;
}

/* Table hover highlight rounded corners */
th span {
    display: block;
    padding: 0.375rem 0.75rem;
    line-height: 1;
}

th:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

th:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

td:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* --- */

/* Upload complete checkmark animation */
@media (prefers-color-scheme: light) {
    :root {
        --success: #198754;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --success: #177a4c;
    }
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: var(--success);
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px var(--success);
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px var(--success);
    }
}

.text-dim {
    color: #000000;
    opacity: 50%;
}

/* Delete instance card animation */
:root {
    --animation-height: 25rem;
}

@keyframes slide-up {
    0% {
        bottom: 0rem;
    }
    100% {
        bottom: var(--animation-height);
    }
}

.slide-up {
    animation-name: slide-up;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

/* Popup div for setting timestamp and rule on page 3 */
.schedule-rule-param-popup {
    position: absolute;
    border: 3px solid #1B1E1F;
    border-radius: 8px;
    padding: 20px;
    background-color: #212529;
    z-index: 99;
    margin-left: 20px;
    margin-right: 20px;
    min-width: fit-content;
}

/* Mobile: Full width popup div instead of aligning to parent element */
@media screen and (max-width: 768px) {
    .schedule-rule-param-popup {
        min-width: calc(100% - 40px);
        margin-left: 20px;
        left: 0;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* redefine theme colors for dark theme */
        $primary: #0550b8; /*button color*/
        $secondary: #4b5157;
        $success: #177a4c;

        $theme-colors: (
            "primary": $primary,
            "secondary": $secondary,
            "success": $success,
            "danger": $danger,
            "info": $indigo,
            "dark": $dark,
            "light": $light,
        );

        /* redefine theme color variables */
        @each $color, $value in $theme-colors {
            --#{$variable-prefix}#{$color}: #{$value};
        }

        /* redefine theme color rgb vars (used for bg- colors) */
        $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
        @each $color, $value in $theme-colors-rgb {
            --#{$variable-prefix}#{$color}-rgb: #{$value};
        }

        $body-color: #eee;
        $body-bg: #1b1e1f;
        $card-bg: #212529;
        $table-color: #eee;

        /* Tables */
        $table-bg: #212529 !important;
        $table-hover-bg: #35393f !important;

        /* Modals */
        $modal-content-bg: #31363b;
        $modal-header-border-color: #31363b;
        $modal-footer-border-color: #31363b;

        /* Input fields */
        $input-bg: #1B1E1F;
        $input-color: #ffffff;
        $input-placeholder-color: #696b6e;
        $input-border-color: #232627;

        $input-focus-bg: #1B1E1F;
        $input-focus-border-color: #232627;
        $input-focus-color: #ffffff;

        $input-disabled-bg: #272c31;

        $form-check-input-bg: #1B1E1F;
        $form-check-input-focus-border: 1px solid #232627;
        $form-check-input-checked-bg-color: #1B1E1F;

        /* Override inputs outside of cards */
        #metadata input {
            background-color: #31363b;
        }

        /* Fix form validation messages in dark mode */
        .is-invalid~.invalid-feedback, .is-invalid~.invalid-tooltip, .was-validated :invalid~.invalid-feedback, .was-validated :invalid~.invalid-tooltip {
            display:block
        };

        /* Dropdowns */
        $form-select-bg: #1B1E1F;
        $form-select-color: #ffffff;
        $form-select-border-color: #232627;
        $form-select-focus-border-color: #232627;
        $form-select-disabled-bg: #272c31;
        $form-select-disabled-color: #ffffff;
        $form-select-disabled-border-color: #232627;

        /* Dropdown down arrow icon */
        $form-select-indicator-color: #ffffff;
        $form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");

        /* Contrasting background for dropdowns inside modal */
        .modal-dropdown {
            background-color: #1b1e1f !important;
        }

        /* Contrasting background for inputs inside modal */
        .modal-input, .modal-input:focus {
            background-color: #1b1e1f !important;
        }

        /* Use light modal close button in dark mode */
        .btn-close {
            @include btn-close-white();
        }

        /* Different color for dropdown placeholder text (selected text set to fff above) */
        select:invalid {
            color: #696b6e;
        }

        /* Increase contrast for disabled items */
        $dropdown-link-disabled-color: #737578 !important;

        /* Force bold white text on buttons (readability) */
        .btn {
            color: #fff !important;
            font-weight: bold !important;
        }

        /* Fix slight annoying color difference between radio button and submit button */
        .btn-check:active + .btn-outline-primary, .btn-check:checked + .btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
            background-color: $primary;
            border-color: $primary;
        }

        /* ApiTarget rule modal On/Off toggle */
        .btn-check + .btn-dark {
            background-color: #282d32;
            border-color: #282d32;
        }
        .btn-check:active + .btn-dark, .btn-check:checked + .btn-dark {
            background-color: #1B1E1F;
            border-color: #1B1E1F;
        }

        --#{$variable-prefix}body-color: #{$body-color};
        --#{$variable-prefix}body-bg: #{$body-bg};

        /* Prevent color change on focus (not enough contrast with body bg) */
        .btn-dark:hover, .btn-dark:focus, .btn-dark:active {
            background-color: #212529 !important;
            border-color: #212529 !important;
        }

        /* Toasts */
        $toast-background-color: #394047cc;

        /* Section background color override */
        .section {
            border: 0px;
            background-color: #212529;
        }

        .text-dim {
            color: #FFFFFF;
        }

        /* List group (location suggestions) */
        $list-group-bg: #212529;
        $list-group-hover-bg: #1B1E1F;
        $list-group-active-bg: #1B1E1F;
        $list-group-action-active-bg: #1B1E1F;
        $list-group-color: #dddddd;
        $list-group-hover-color: #ffffff;
        $list-group-action-hover-color: #ffffff;
        $list-group-action-active-color: #ffffff;

        @import "../../node_modules/bootstrap/scss/_card";
        @import "../../node_modules/bootstrap/scss/_modal";
        @import "../../node_modules/bootstrap/scss/_forms";
        @import "../../node_modules/bootstrap/scss/_buttons";
        @import "../../node_modules/bootstrap/scss/_tables";
        @import "../../node_modules/bootstrap/scss/_dropdown";
        @import "../../node_modules/bootstrap/scss/_toasts";
        @import "../../node_modules/bootstrap/scss/_list-group";
    }
}
