/* Block double tap zoom on mobile (allows pressing buttons quickly) */
body {
    touch-action: manipulation;
}

/* Transition shown when api_card.html loads */
.fade-in {
    animation: fade-in 0.2s ease-out forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* --- */


/* Transition shown when api_card.html back button clicked */
.fade-out {
    animation: fade-out 0.8s ease-in forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* --- */
