@import "node_modules/bootstrap/scss/_functions";
@import "node_modules/bootstrap/scss/_variables";
@import "node_modules/bootstrap/scss/_variables-dark";
@import "node_modules/bootstrap/scss/_mixins";
@import "node_modules/bootstrap/scss/_close";

/* Remove border around disabled buttons */
.btn:disabled, .btn:active {
    border-color: transparent !important
}

/* Fade animations (api frontend) */
.fade-out {
    opacity: 100%;
    animation: fade-out 0.2s forwards;
}

.fade-in {
    opacity: 0%;
    animation: fade-in 0.2s forwards;
}

@keyframes fade-out {
    0% {
        opacity: 100%
    }
    100% {
        opacity: 0%
    }
}

@keyframes fade-in {
    0% {
        opacity: 0%
    }
    100% {
        opacity: 100%
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* redefine theme colors for dark theme */
        $primary: #0550b8; /*button color*/
        $secondary: #4b5157;
        $success: #177a4c;

        $theme-colors: (
            "primary": $primary,
            "secondary": $secondary,
            "success": $success,
            "danger": $danger,
            "info": $indigo,
            "dark": $dark,
            "light": $light,
        );

        /* redefine theme color variables */
        @each $color, $value in $theme-colors {
            --#{$variable-prefix}#{$color}: #{$value};
        }

        /* redefine theme color rgb vars (used for bg- colors) */
        $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
        @each $color, $value in $theme-colors-rgb {
            --#{$variable-prefix}#{$color}-rgb: #{$value};
        }

        $body-color: #eee;
        $body-bg: #1b1e1f;
        $card-bg: #212529;
        $table-color: #eee;

        --#{$variable-prefix}body-color: #{$body-color};
        --#{$variable-prefix}body-bg: #{$body-bg};

        /* Tables */
        $table-bg: #212529 !important;
        $table-hover-bg: #35393f !important;

        /* Modals */
        $modal-content-bg: #31363b;
        $modal-header-border-color: #31363b;
        $modal-footer-border-color: #31363b;

        /* Use light modal close button in dark mode */
        .btn-close {
            @include btn-close-white();
        }

        /* Input fields */
        $input-bg: #1B1E1F;
        $input-color: #ffffff;
        $input-placeholder-color: #696b6e;
        $input-border-color: #232627;

        $input-focus-bg: #1B1E1F;
        $input-focus-border-color: #232627;
        $input-focus-color: #ffffff;
        $input-disabled-bg: #272c31;

        /* Input group text */
        $input-group-addon-bg: #1b1e1f;
        $input-group-addon-border-color: #1b1e1f;
        $input-group-addon-color: #ffffff;

        /* Stop floating label changing color when focused */
        .form-floating .form-control ~ label {
            color: rgba(238, 238, 238, 0.65) !important;
        }

        /* Checkboxes */
        $form-check-input-bg: #1B1E1F;
        $form-check-input-border: #1B1E1F;
        $form-check-input-checked-bg-color: $primary;

        /* Select inputs */
        $form-select-bg: #1B1E1F !important;
        $form-select-color: #ffffff !important;
        $form-select-border-color: #232627 !important;
        $form-select-focus-border-color: #232627 !important;
        $form-select-disabled-bg: #272c31 !important;
        $form-select-disabled-color: #ffffff !important;
        $form-select-disabled-border-color: #232627 !important;

        /* Different color for select placeholder text (selected text set to fff above) */
        select:invalid {
            color: #696b6e;
        }

        /* Contrasting background for inputs inside modal */
        .modal-input, .modal-input:focus {
            background-color: #1b1e1f !important;
        }

        /* Contrasting background for dropdowns inside modal */
        .modal-dropdown {
            background-color: #1b1e1f !important;
        }

        /* Fix form validation messages in dark mode */
        /* Don't know why but the feedback text never appears without */
        .is-invalid~.invalid-feedback,
        .is-invalid~.invalid-tooltip,
        .was-validated :invalid~.invalid-feedback,
        .was-validated :invalid~.invalid-tooltip {
            display: block;
        }

        /* Top-right dropdown menu button color */
        #settings-button {
            color: $light;
            border-color: $dark;
            background-color: $dark;

            &:hover {
                border-color: darken($dark, 5%);
                background-color: darken($dark, 5%);
            }
            &.show, &:active {
                border-color: darken($dark, 10%);
                background-color: darken($dark, 10%);
            }
        }

        /* Increase contrast for disabled items */
        $dropdown-link-disabled-color: #737578 !important;

        $dropdown-bg: #343A40;
        $dropdown-link-hover-bg: #52575C;

        /* Force bold white text on buttons (readability) */
        .btn {
            color: #fff !important;
            font-weight: bold !important;
        }

        /* ApiTarget rule modal On/Off toggle */
        .btn-check + .btn-dark {
            background-color: #282d32;
            border-color: #282d32;
        }
        .btn-check:active + .btn-dark, .btn-check:checked + .btn-dark {
            background-color: #1B1E1F;
            border-color: #1B1E1F;
        }

        /* Prevent color change on focus (not enough contrast with body bg) */
        .btn-dark:hover, .btn-dark:focus, .btn-dark:active {
            background-color: #212529 !important;
            border-color: #212529 !important;
        }

        /* Toasts */
        $toast-background-color: #394047cc;

        /* Section background color override */
        .section {
            border: 0px;
            background-color: #212529;
        }

        .text-dim {
            color: #FFFFFF;
        }

        /* Spinkit dark mode */
        --sk-color: #fff;

        /* List group (location suggestions) */
        $list-group-bg: #212529;
        $list-group-border-color: rgba(0, 0, 0, 0.125);
        $list-group-hover-bg: #1B1E1F;
        $list-group-action-hover-bg: #1B1E1F;
        $list-group-active-bg: #1B1E1F;
        $list-group-action-active-bg: #1B1E1F;
        $list-group-color: #dddddd;
        $list-group-hover-color: #ffffff;
        $list-group-action-hover-color: #ffffff;
        $list-group-action-active-color: #ffffff;

        @import "node_modules/bootstrap/scss/_card";
        @import "node_modules/bootstrap/scss/_modal";
        @import "node_modules/bootstrap/scss/_forms";
        @import "node_modules/bootstrap/scss/_buttons";
        @import "node_modules/bootstrap/scss/_tables";
        @import "node_modules/bootstrap/scss/_dropdown";
        @import "node_modules/bootstrap/scss/_toasts";
        @import "node_modules/bootstrap/scss/_list-group";
    }
}
