/* Delete instance card animation */
:root {
    --animation-height: 25rem;
}

@keyframes slide-up {
    0% {
        bottom: 0rem;
    }
    100% {
        bottom: var(--animation-height);
    }
}

.slide-up {
    animation-name: slide-up;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

/* Delete card in config editor */
.fade-out-card {
    animation-name: fade-out;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

/* Popup div for setting timestamp and rule on page 3 */
.schedule-rule-param-popup {
    position: absolute;
    border: 3px solid #1B1E1F;
    border-radius: 8px;
    padding: 20px;
    background-color: #212529;
    z-index: 99;
    margin-left: 20px;
    margin-right: 20px;
    min-width: fit-content;
}

/* Mobile: Full width popup div instead of aligning to parent element */
@media screen and (max-width: 768px) {
    .schedule-rule-param-popup {
        min-width: calc(100% - 40px);
        margin-left: 20px;
        left: 0;
    }
}
