/* Trigger button on/off animations */
@keyframes trigger-on {
    0% {
        background-position: 50% -15%;
    }
    100% {
        background-position: 50% 35%;
    }
}

@keyframes trigger-off {
    0% {
        background-position: 50% 35%;
    }
    100% {
        background-position: 50% -15%;
    }
}

.trigger-button {
    background-image: radial-gradient(circle, #0550B8 5%, white 55%);
    background-size: 500% 500%;
    border-radius: 0.5rem !important;

    /* Remove focus highlight */
    box-shadow: none !important;
}

.trigger-on {
    animation-name: trigger-on;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.trigger-off {
    animation-name: trigger-off;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
}

/* Show sensor targets highlight animation */
.highlight-enter {
    box-shadow: 0px 0px 20px -25px #37eb5c;
    box-shadow: inset 0 0 0 0.09px #37eb5c;
    animation: highlight-on 1s cubic-bezier(.06,.9,.92,1.06);
    animation-fill-mode: forwards;
}

.highlight-enter-done {
    box-shadow: 0px 0px 20px 0px #37eb5c;
}

.highlight-exit {
    box-shadow: 0px 0px 20px 0px #37eb5c;
    animation: highlight-off 1s cubic-bezier(.06,.9,.81,1.25);
    animation-fill-mode: forwards;
}

@keyframes highlight-on {
    0% {
        box-shadow: 0px 0px 20px -25px #37eb5c;
    }
    85% {
        box-shadow: 0px 0px 20px 5px #37eb5c;
    }
    100% {
        box-shadow: 0px 0px 20px 0px #37eb5c;
    }
}

@keyframes highlight-off {
    0% {
        box-shadow: 0px 0px 20px 0px #37eb5c;
    }
    100% {
        box-shadow: 0px 0px 20px -25px #37eb5c;
    }
}

/* Dark mode button colors */
@media (prefers-color-scheme: dark) {
    :root {
        .menu-button {
            border: 1px solid #dee2e617 !important;
        }

        .trigger-button, .trigger-button:disabled {
            background-image: radial-gradient(circle, #0550B8 5%, transparent 55%);

            /* Add border for visibility when not filled in (device turned off) */
            border: 1px solid #dee2e617 !important;
        }
    }
}
