/* Power button on/off animations */
@keyframes fade-on {
    0% {
        background-position: 50% -15%;
    }
    100% {
        background-position: 50% 35%;
    }
}

@keyframes fade-off {
    0% {
        background-position: 50% 35%;
    }
    100% {
        background-position: 50% -15%;
    }
}

/* Top-right corner of all device and sensor cards */
.menu-button {
    border-radius: 0.5rem !important;
}

body.dark .menu-button {
    border: 1px solid #dee2e617 !important;
}

.power-button {
    background-image: radial-gradient(circle, #ffc107 5%, white 55%);
    background-size: 500% 500%;
    border-radius: 0.5rem !important;

    /* Remove focus highlight */
    box-shadow: none !important;
}

.bi-lightbulb, .bi-exclamation-lg {
    color: #000;
}

body.dark .bi-lightbulb, body.dark  .bi-exclamation-lg {
    color: #fff;
}

body.dark .power-button {
    background-image: radial-gradient(circle, #ffc107 5%, transparent 55%);
/*     border: 2px solid #2B2E2F !important; */

    /* Add border for visibility when not filled in (device turned off) */
    border: 1px solid #dee2e617 !important;
}

.toggle-on {
    animation-name: fade-on;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.toggle-off {
    animation-name: fade-off;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
}

/* Trigger button on/off animations */
@keyframes trigger-on {
    0% {
        background-position: 50% -15%;
    }
    100% {
        background-position: 50% 35%;
    }
}

@keyframes trigger-off {
    0% {
        background-position: 50% 35%;
    }
    100% {
        background-position: 50% -15%;
    }
}

.trigger-button {
    background-image: radial-gradient(circle, #0550B8 5%, white 55%);
    background-size: 500% 500%;
    border-radius: 0.5rem !important;

    /* Remove focus highlight */
    box-shadow: none !important;
}

body.dark .trigger-button {
    background-image: radial-gradient(circle, #0550B8 5%, transparent 55%);

    /* Add border for visibility when not filled in (device turned off) */
    border: 1px solid #dee2e617 !important;
}

.trigger-on {
    animation-name: trigger-on;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.trigger-off {
    animation-name: trigger-off;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
}

/* Loading spinner */
.loading-animation {
    display: inline-block;
    position: relative;
    width: 6rem;
    height: 6rem;
}

.loading-animation div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: loading-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.loading-animation div:nth-child(1) {
    animation-delay: -0.45s;
}

.loading-animation div:nth-child(2) {
    animation-delay: -0.3s;
}

.loading-animation div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loading-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Show sensor targets highlight animation */
.highlight-on {
    box-shadow: 0px 0px 20px -25px #37eb5c;
    box-shadow: inset 0 0 0 0.09px #37eb5c;
    animation: highlight-on 1s cubic-bezier(.06,.9,.92,1.06);
    animation-fill-mode: forwards;
}

.highlight-off {
    box-shadow: 0px 0px 20px 0px #37eb5c;
    animation: highlight-off 1s cubic-bezier(.06,.9,.81,1.25);
    animation-fill-mode: forwards;
}

@keyframes highlight-on {
    0% {
        box-shadow: 0px 0px 20px -25px #37eb5c;
    }
    85% {
        box-shadow: 0px 0px 20px 5px #37eb5c;
    }
    100% {
        box-shadow: 0px 0px 20px 0px #37eb5c;
    }
}

@keyframes highlight-off {
    0% {
        box-shadow: 0px 0px 20px 0px #37eb5c;
    }
    100% {
        box-shadow: 0px 0px 20px -25px #37eb5c;
    }
}
