.result {
    background-color: #D9D9D9;
    border-radius: 8px;
    width: 85%;
}

body.dark .result {
    background-color: #2B2E2F;
}

.remote {
    border: 1px solid rgba(0,0,0,.125);
    padding: 0.5rem;
    width: min-content;
    border-radius: 20px
}

body.dark .remote {
    background-color: #212529;
}

.edit-ir-macro-cell {
    width: min-content;
}

/* Record macro button effect */
@keyframes glowing {
    0% {
        box-shadow: 0 0 1px 1px #2DD4BF;
    }
    50% {
        box-shadow: 0 0 3px 6px #2DD4BF;
    }
}

.blue-glow {
    animation: glowing 1.8s cubic-bezier(.25,.1,.41,1) infinite;
}
