.result {
    background-color: #D9D9D9;
    border-radius: 8px;
    width: 85%;
}

body.dark .result {
    background-color: #2B2E2F;
}

.remote {
    border: 1px solid rgba(0,0,0,.125);
    padding: 0.5rem;
    width: min-content;
    border-radius: 20px
}

body.dark .remote {
    background-color: #212529;
}

.edit-ir-macro-cell {
    width: min-content;
}
