<div class="modal fade" id="api-rule-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="max-width:750px">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <button type="button" class="btn-close" style="visibility:hidden;"></button>
                <h5 class="modal-title">Api Target Rule</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column">

                <button class="btn btn-sm btn-secondary mx-auto mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#api-rule-modal-help" aria-expanded="false" aria-controls="api-rule-modal-help">
                    Help
                </button>

                <div class="collapse" id="api-rule-modal-help">
                    <p class="text-center">Just like other devices, ApiTargets can be turned on/off by sensors or manually. Instead of effecting a physical device they fire API commands.</p>

                    <p class="text-center">{{target_instructions}}</p>

                    <p class="text-center">The dropdowns below contain all available options for the current target node. Select a command to fire when this device is turned on, and another for when it is turned off.</p>

                    <p class="text-center">
                        <button class="btn btn-sm btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#api-rule-modal-examples" aria-expanded="false" aria-controls="api-rule-modal-examples">
                            Examples
                        </button>
                    </p>

                    <div class="collapse" id="api-rule-modal-examples">
                        <ul>
                            <li>Two nodes with motion sensors can work together to cover a large room. Set Sensor1 to target the lights, then set Sensor2 to activate Sensor1 with the <b>trigger_sensor</b> option.</li>
                            <li>The thermostat can change when a door is open or closed. Set up a door sensor targeting this ApiTarget, then select the thermostat and <b>set_rule</b> command below.</li>
                            <li>Any sensor can turn a TV or Air Conditioner on/off by triggering an ApiTarget targeting an <b>Ir Blaster</b>.</li>
                        </ul>

                        <p class="text-center">
                            <button class="btn btn-sm btn-secondary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#api-rule-modal-help" aria-expanded="false" aria-controls="api-rule-modal-help">
                                Close
                            </button>
                        </p>
                    </div>
                </div>

                <form name="api_rule_form" id="api_rule_form">
                    <div id="on-action">
                        <select name="instance-on" id="instance-on" class="form-select mb-3 modal-dropdown api-instance" required>
                            <option value="" selected="selected">Select target instance</option>
                        </select>

                        <select name="command-on" id="command-on" class="form-select mb-3 modal-dropdown api-command" required>
                            <option value="" selected="selected">Please select instance first</option>
                        </select>

                        <select name="sub-command-on" id="sub-command-on" class="form-select mb-3 modal-dropdown api-command" style="display:none" required disabled>
                            <option value="" selected="selected">Please select command first</option>
                        </select>

                        <input name="command-arg-on" id="command-arg-on" class="form-control mb-3 modal-input api-command-arg" style="display:none" disabled>
                    </div>

                    <div id="off-action" style="display:none;">
                        <select name="instance-off" id="instance-off" class="form-select mb-3 modal-dropdown api-instance" required>
                            <option value="" selected="selected">Select target instance</option>
                        </select>

                        <select name="command-off" id="command-off" class="form-select mb-3 modal-dropdown api-command" required>
                            <option value="" selected="selected">Please select instance first</option>
                        </select>

                        <select name="sub-command-off" id="sub-command-off" class="form-select mb-3 modal-dropdown api-command" style="display:none" required disabled>
                            <option value="" selected="selected">Please select command first</option>
                        </select>

                        <input name="command-arg-off" id="command-arg-off" class="form-control mb-3 modal-input api-command-arg" style="display:none" disabled>
                    </div>
                </form>

                <div class="btn-group mx-auto" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="on-button" autocomplete="off" onclick="switch_page(this)" checked>
                    <label class="btn btn-outline-secondary ms-auto" for="on-button">On Action</label>

                    <input type="radio" class="btn-check" name="btnradio" id="off-button" autocomplete="off" onclick="switch_page(this)">
                    <label class="btn btn-outline-secondary me-auto" for="off-button">Off Action</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="submit-api-rule" class="btn btn-success mx-auto" data-bs-dismiss="modal" onclick="submit_api_rule(this)">Submit</button>
            </div>
        </div>
    </div>
</div>
