{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create new config file</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'node_configuration/jquery.min.js' %}"></script>
    <script>

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        };

        async function readForm(formID) {
            const form = document.getElementById(formID);

            const data = new FormData(form);

            var value = Object.fromEntries(data.entries());

            console.log({ value });

            let csrftoken = getCookie('csrftoken');

            const response = await fetch('generateConfigFile', {
                method: 'POST',
                body: JSON.stringify(value),
                headers: { 'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json',
                    "X-CSRFToken": csrftoken }
            });

            const json = await response.json();

            return json;
        };

    </script>
</head>

<body>
    <div>
        <h1>Create New Config</h1>
    <div><br>

    <div id="page1">

        <form id="form1">

            <div>
                <h2>Metadata</h2>

                <div class="mb-3 col">
                    <label for="friendlyName"><b>Name:</b></label>
                    <input type="text" class="form-control" id="startTime" placeholder="" name="friendlyName" required>
                </div><br>

                <div class="mb-3 col">
                    <label for="location"><b>Location:</b></label>
                    <input type="text" class="form-control" id="startTime" placeholder="" name="location" required>
                </div><br>

                <div class="mb-3 col">
                    <label for="floor"><b>Floor:</b></label>
                    <input type="text" class="form-control" id="startTime" placeholder="" name="floor" required>
                </div><br><br><br>
            </div>

            <div>
                <h2>Wifi</h2>

                <div class="mb-3 col">
                    <label for="ssid"><b>SSID:</b></label>
                    <input type="text" class="form-control" id="startTime" placeholder="" name="ssid" required>
                </div><br>

                <div class="mb-3 col">
                    <label for="password"><b>Password:</b></label>
                    <input type="password" class="form-control" id="startTime" placeholder="" name="password" required>
                </div><br><br><br>
            </div>

            <div>
                <h2>Add Sensor</h2>

                <div id="addSensorDiv1">
                </div>

            </div><br><br>

            <div>
                <h2>Add Device</h2>

                <div id="addDeviceDiv1">
                </div>

            </div><br><br>

            <button type="submit">Submit</button>

        </form>

    </div>

    <div id="page2">
    </div>

    <script>

        $('#addSensorDiv1').load("/addSensor/1");
        $('#addDeviceDiv1').load("/addDevice/1");

        document.getElementById('form1').addEventListener("submit", async function(e) {
            e.preventDefault();
            const name = await readForm("form1");

            $('#page2').load("/configure_page2/" + name);
            $('#page1').hide();
        });

    </script>

</body>


</html>
