{% if context %}

        <h3>Add schedule rules (optional)</h3>

        {% for instance, type in context.items %}

            <div class="card">
                <div class="card-body">
                    <label class="card-title"><b>{{ instance }} ({{ type }}):</b></label>
                    <table id="{{instance}}-rules" class="table table-borderless">
                        <tr>
                            <th style="text-align: left;">Time</th>
                            <th style="text-align: left;">Rule</th>
                        </tr>
                        <tr id="{{instance}}-row-1">
                            <td><input type="text" class="form-control" id="schedule-{{instance}}-rule1-time" placeholder="HH:MM" name="schedule-{{instance}}-rule1-time"></td>
                            <td><input type="text" class="form-control" id="schedule-{{instance}}-rule1-value" placeholder="" name="schedule-{{instance}}-rule1-value"></td>
                            <td class="min"><button type="button" class="btn btn-danger" id="placeholder_button" style="visibility: hidden;">X</button></td>
                        </tr>
                    </table>
                </div>

                <div class="text-left mx-3 mb-3">
                    <button type="button" class="btn btn-secondary add" id="{{instance}}-add-rule">Add another</button>
                </div>

            </div></br>

        {% endfor %}

        <button type="submit" class="btn btn-primary mb-3">Submit</button>

    <script>
        // Check if user is in dark mode, change theme (runs once on page load)
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            for (el of document.getElementsByClassName("table")) {
                el.classList.add("table-dark")
            };
        };

        function add(e) {
            var instance = e.target.id.split("-", 1)[0];
            console.log(instance);

            table = document.getElementById(instance + "-rules")

            // Rows are numbered sequentially. Get number of last row and increment
            var next_row = parseInt($('#' + instance + '-rules tr:last').attr('id').split("-").pop()) + 1;

            var row = table.insertRow();
            row.setAttribute("id", instance + "-row-" + next_row)

            var cell_time = row.insertCell(0);
            var cell_value = row.insertCell(1);
            var cell_del = row.insertCell(2);

            cell_time.innerHTML = "<input type='text' class='form-control' id='" + instance + "-rule" + next_row + "-time' placeholder='HH:MM' name='schedule-" + instance + "-rule" + next_row + "-time'>";
            cell_value.innerHTML = "<input type='text' class='form-control' id='" + instance + "-rule" + next_row + "-value' placeholder='' name='schedule-" + instance + "-rule" + next_row + "-value'>";
            cell_del.innerHTML = "<button type='button' class='remove btn btn-danger' id='" + instance + "-remove" + + next_row + "' onclick='remove(this)'>X</button>";

        };

        function remove(e) {
            var instance = e.id;
            var index = e.parentElement.parentElement.rowIndex

            table = document.getElementById(instance.split("-", 1) + "-rules")
            table.deleteRow(index)
        };

        $('.add').on('click', add);


    </script>

{% else %}

{% endif %}
