{% if context %}

        <h3>Add schedule rules (optional)</h3>

        {% for instance, type in context.items %}

            {% if not type == "clear" and not type == "ir-blaster" %}

                <div class="card mb-4">
                    <div class="card-body">
                        <label class="card-title schedule-rule-card"><b>{{ instance }} ({{ type }}):</b></label>
                        <table id="{{instance}}-rules" class="table table-borderless">
                            <tr>
                                <th style="text-align: left;">Time</th>
                                <th style="text-align: left;">Rule</th>
                            </tr>
                            <tr id="{{instance}}-row-1">
                                <td style="width: 50%"><input type="text" class="form-control timestamp" id="schedule-{{instance}}-rule1-time" placeholder="HH:MM" name="schedule-{{instance}}-rule1-time" maxlength="5"></td>

                                {% if not type == "api-target" %}
                                    <td style="width: 50%"><input type="text" class="form-control" id="schedule-{{instance}}-rule1-value" placeholder="" name="schedule-{{instance}}-rule1-value"></td>
                                {% else %}
                                    <td style="width: 50%">
                                        <button id="schedule-{{instance}}-rule1-button" class="form-control" onclick="open_rule_modal(this);" type="button">Set rule</button>
                                        <input type="text" class="form-control" id="schedule-{{instance}}-rule1-value" placeholder="" name="schedule-{{instance}}-rule1-value" style="display:none;">
                                    </td>
                                {% endif %}

                                <td class="min"><button type="button" class="btn btn-danger" id="placeholder_button" style="visibility: hidden;">X</button></td>
                            </tr>
                        </table>
                    </div>

                    <div class="text-left mx-3 mb-3">
                        <button type="button" class="btn btn-secondary add" id="{{instance}}-add-rule">Add another</button>
                    </div>
                </div>

            {% endif %}

        {% endfor %}

        <div class="d-flex justify-content-between mx-3 mt-auto">
            <button id="page3-back-button" type="button" class="btn btn-primary mb-3">Back</button>
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
            <button type="button" class="btn btn-secondary mb-3" disabled>Next</button>
        </div>

    <script>
        // Check if user is in dark mode, change theme (runs once on page load)
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            for (el of document.getElementsByClassName("table")) {
                el.classList.add("table-dark")
            };
        };

        // Only allow numbers and : in timestamp fields
        var fields = document.getElementsByClassName("timestamp");
        for (field of fields) {
            field.addEventListener("keypress", function (evt) {
                if (evt.which < 48 || evt.which > 58) {
                    evt.preventDefault();
                };
            });
        };

        document.getElementById('page3-back-button').addEventListener("click", async function(e) {
            e.preventDefault();

            document.getElementById("page2").classList.add("d-flex");
            document.getElementById("page3").classList.remove("d-flex");
            document.getElementById("page3").style.display = "none";

        });

        function add(e) {
            var instance = e.target.id.split("-", 1)[0];

            table = document.getElementById(instance + "-rules")

            // Rows are numbered sequentially. Get number of last row and increment
            var next_row = parseInt($('#' + instance + '-rules tr:last').attr('id').split("-").pop()) + 1;

            var row = table.insertRow();
            row.setAttribute("id", instance + "-row-" + next_row)

            var cell_time = row.insertCell(0);
            var cell_value = row.insertCell(1);
            var cell_del = row.insertCell(2);

            cell_time.innerHTML = `<input type='text' class='form-control timestamp' id='schedule-${instance}-rule${next_row}-time' placeholder='HH:MM' name='schedule-${instance}-rule${next_row}-time' maxlength="5">`;

            if (instance.startsWith("device") && document.getElementById(instance.replace("device", "deviceType")).value == "api-target") {
                console.log("API")
                cell_value.innerHTML = `<button id="schedule-${instance}-rule${next_row}-button" class="form-control" onclick="open_rule_modal(this);" type="button">Set rule</button>
                                        <input type="text" class="form-control" id="schedule-${instance}-rule${next_row}-value" placeholder="" name="schedule-${instance}-rule${next_row}-value" style="display:none;">`
            } else {
                cell_value.innerHTML = `<input type='text' class='form-control' id='schedule-${instance}-rule${next_row}-value' placeholder='' name='schedule-${instance}-rule${next_row}-value'>`;
            };
            cell_del.innerHTML = `<button type='button' class='remove btn btn-danger' id='${instance}-remove${next_row}' onclick='remove(this)'>X</button>`;

            // Only allow numbers and : in timestamp field
            document.getElementById(`schedule-${instance}-rule${next_row}-time`).addEventListener("keypress", function (evt) {
                if (evt.which < 48 || evt.which > 58) {
                    evt.preventDefault();
                };
            });
        };

        function remove(e) {
            var instance = e.id;
            var index = e.parentElement.parentElement.rowIndex

            table = document.getElementById(instance.split("-", 1) + "-rules")
            table.deleteRow(index)
        };

        $('.add').on('click', add);


    </script>

{% else %}

{% endif %}
