{% if context %}

        <h3>Select targets for each sensor</h3>

        {% for sensor, type in context.sensors.items %}

            {% if not type == "clear" %}

                <div class="card">
                    <div class="card-body">
                        <label for="{{sensor}}-targets" class="card-title sensor-targets-label"><b>{{ sensor }} ({{ type }}) targets:</b></label>
                        <div id="{{sensor}}-targets" class="form-check sensor-targets">

                            {% for device, dtype in context.devices.items %}

                                {% if not dtype == "ir-blaster" and not dtype == "clear" %}
                                    <input type="checkbox" class="form-check-input" id="target-{{sensor}}-{{device}}" name="target-{{sensor}}-{{device}}" value="target-{{sensor}}-{{device}}">
                                    <label for="target-{{sensor}}-{{device}}" class="form-check-label">{{ device }} ({{ dtype }})</label><br>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                </div></br>

            {% endif %}

        {% endfor %}

        <div class="d-flex justify-content-between mx-3 mb-3">
            <button id="page2-back-button" type="button" class="btn btn-primary">Back</button>
            <button type="button" class="btn btn-primary" style="visibility: hidden;">Submit</button>
            <button id="page2-button" type="button" class="btn btn-primary">Next</button>
        </div>

    <script>

        document.getElementById('page2-button').addEventListener("click", async function(e) {
            e.preventDefault();

            var next_page = await readForm("configure_page3");
            next_page = await next_page.text()

            $('#page3').html(next_page);
            $('#page3').show();
            $('#page2').hide();
        });

        document.getElementById('page2-back-button').addEventListener("click", async function(e) {
            e.preventDefault();

            $('#page1').show();
            $('#page2').hide();
        });

    </script>

{% else %}

{% endif %}
