{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create new config file</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'node_configuration/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_configuration/style.css' %}">
    <script src="{% static 'node_configuration/bootstrap.min.js' %}"></script>
    <script src="{% static 'node_configuration/jquery.min.js' %}"></script>
    <script>

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        };

        async function readForm(url) {
            const form = document.getElementById("form");

            const data = new FormData(form);

            var value = Object.fromEntries(data.entries());

            console.log({ value });

            let csrftoken = getCookie('csrftoken');

            const next_page = await fetch(url, {
                method: 'POST',
                body: JSON.stringify(value),
                headers: { 'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json',
                    "X-CSRFToken": csrftoken }
            });

            const result = await next_page.text()

            return result
        };

    </script>
    <style>
        td {
            width: auto;
        }

        td.min {
            width: 1%;
            white-space: nowrap;
        }
    </style>
</head>

<body>
    <div class="container">
        <div>
            <h1 class="text-center mt-3">Create New Config</h1>
        <div><br>

        <form id="form">

            <div id="page1">

                <div>
                    <h2>Metadata</h2>

                    <div class="mb-2">
                        <label for="friendlyName"><b>Name:</b></label>
                        <input type="text" class="form-control" id="startTime" placeholder="" name="friendlyName" required>
                    </div>

                    <div class="mb-2">
                        <label for="location"><b>Location:</b></label>
                        <input type="text" class="form-control" id="startTime" placeholder="" name="location" required>
                    </div>

                    <div class="mb-2">
                        <label for="floor"><b>Floor:</b></label>
                        <input type="text" class="form-control" id="startTime" placeholder="" name="floor" required>
                    </div>
                </div></br>

                <div class="mb-3">
                    <h2>Wifi</h2>

                    <div class="mb-2">
                        <label for="ssid"><b>SSID:</b></label>
                        <input type="text" class="form-control" id="startTime" placeholder="" name="ssid" required>
                    </div>

                    <div class="mb-2">
                        <label for="password"><b>Password:</b></label>
                        <input type="password" class="form-control" id="startTime" placeholder="" name="password" required>
                    </div>
                </div></br>

                <div>
                    <h2>Add Sensors</h2>

                    <div id="addSensorDiv1">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">sensor1</h4>
                                <label for="sensorType1" class="form-label"><b>Type:</b></label>
                                <div>
                                    <select onchange="load_sensor_section(this)" name="sensorType1" id="sensorType1" class="form-select" required>
                                    <option value="clear">Select sensor type</option>
                                    <option value="pir">Motion Sensor</option>
                                    <option value="switch">Switch</option>
                                    <option value="dummy">Dummy</option>
                                    <option value="desktop-trigger">Desktop</option>
                                    <option value="si7021">Thermostat</option>
                                    </select>
                                </div>

                                <div id="addSensorOptions1" class="mt-3"></div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button onclick="load_next_sensor(this)" type="button" id="addSensorButton1" class="btn-secondary btn mt-3">Add another</button>
                        </div>

                        <div id="addSensorDiv2"></div>
                    </div>

                </div></br>

                <div>
                    <h2>Add Devices</h2>

                    <div id="addDeviceDiv1">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">device1</h4>
                                <label for="deviceType1" class="form-label"><b>Type:</b></label>
                                <div>
                                    <select onchange="load_device_section(this)" name="deviceType1" id="deviceType1" class="form-select" required>
                                    <option value="clear">Select device type</option>
                                    <option value="dimmer">TP-Link Dimmer</option>
                                    <option value="bulb">TP-Link Bulb</option>
                                    <option value="relay">Smart Relay</option>
                                    <option value="dumb-relay">Relay</option>
                                    <option value="desktop-target">Desktop</option>
                                    <option value="pwm">LED Strip</option>
                                    <option value="mosfet">Mosfet</option>
                                    <option value="api-target">Api Command</option>
                                    </select>
                                </div>

                                <div id="addDeviceOptions1" class="card-body"></div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button onclick="load_next_device(this)" type="button" id="addDeviceButton1" class="btn-secondary btn mt-3">Add another</button>
                        </div>

                        <div id="addDeviceDiv2"></div>
                    </div>

                </div></br>



                <div class="d-flex justify-content-between mx-3 mb-3">
                    <button type="button" class="btn btn-secondary" disabled>Back</button>
                    <button type="button" class="btn btn-primary" style="visibility: hidden;">Submit</button>
                    <button id="page1-button" type="button" class="btn btn-primary">Next</button>
                </div>
            </div>

            <div id="page2">
            </div>

            <div id="page3">
            </div>

        </form>
    </div>

    <script>
        // Check if user is in dark mode, change theme (runs once on page load)
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.body.classList.add("dark");
            console.log("Dark mode");
        };

        async function load_sensor_section(select) {
            // Get index of sensor
            const index = parseInt(select.id.replace("sensorType", ""));

            // Get user selection
            const selected = document.getElementById(select.id).value

            // Load form for the selected sensor type
            if (selected == "clear") {
                document.getElementById("addSensorOptions" + index).innerHTML = "";
                return
            } else if (selected == "pir") {
                var div_contents = await fetch("/sensorOptionsPir/" + index);
            } else if (selected == "switch") {
                var div_contents = await fetch("/sensorOptionsSwitch/" + index);
            } else if (selected == "dummy") {
                var div_contents = await fetch("/sensorOptionsDummy/" + index);
            } else if (selected == "desktop-trigger") {
                var div_contents = await fetch("/sensorOptionsDesktop/" + index);
            } else if (selected == "si7021") {
                var div_contents = await fetch("/sensorOptionsSi7021/" + index);
            };

            // Render div, scroll down until visible
            document.getElementById("addSensorOptions" + index).innerHTML = await div_contents.text();
            document.getElementById("addSensorOptions" + index).scrollIntoView();
        };

        async function load_device_section(select) {
            // Get index of device
            const index = parseInt(select.id.replace("deviceType", ""));

            // Get user selection
            const selected = document.getElementById(select.id).value

            // Load form for the selected device type
            if (selected == "clear") {
                document.getElementById("addDeviceOptions" + index).innerHTML = "";
                return
            } else if (selected == "dimmer") {
                var div_contents = await fetch("/deviceOptionsDimmer/" + index);
            } else if (selected == "bulb") {
                var div_contents = await fetch("/deviceOptionsBulb/" + index);
            } else if (selected == "relay") {
                var div_contents = await fetch("/deviceOptionsRelay/" + index);
            } else if (selected == "dumb-relay") {
                var div_contents = await fetch("/deviceOptionsDumbRelay/" + index);
            } else if (selected == "desktop-target") {
                var div_contents = await fetch("/deviceOptionsDesktop/" + index);
            } else if (selected == "pwm") {
                var div_contents = await fetch("/deviceOptionsPwm/" + index);
            } else if (selected == "mosfet") {
                var div_contents = await fetch("/deviceOptionsMosfet/" + index);
            } else if (selected == "api-target") {
                var div_contents = await fetch("/deviceOptionsApi/" + index);
            };

            // Render div, scroll down until visible
            document.getElementById("addDeviceOptions" + index).innerHTML = await div_contents.text();
            document.getElementById("addDeviceOptions" + index).scrollIntoView();
        };

        async function load_next_device(button) {
            // Get index of clicked button
            const index = parseInt(button.id.replace("addDeviceButton", ""));

            // Hide clicked button
            document.getElementById("addDeviceButton" + index).style.display = "none";

            // Load contents for next addDevice div
            var div_contents = await fetch("addDevice/" + (index + 1));
            div_contents = await div_contents.text();

            // Render div, scroll down until visible
            document.getElementById("addDeviceDiv" + (index + 1)).innerHTML = div_contents;
            document.getElementById("addDeviceDiv" + (index + 1)).scrollIntoView();
        };

        async function load_next_sensor(button) {
            // Get index of clicked button
            const index = parseInt(button.id.replace("addSensorButton", ""));

            // Hide clicked button
            document.getElementById("addSensorButton" + index).style.display = "none";

            // Load contents for next addSensor div
            var div_contents = await fetch("addSensor/" + (index + 1));
            div_contents = await div_contents.text();

            // Render div, scroll down until visible
            document.getElementById("addSensorDiv" + (index + 1)).innerHTML = div_contents;
            document.getElementById("addSensorDiv" + (index + 1)).scrollIntoView();
        };

        document.getElementById('page1-button').addEventListener("click", async function(e) {
            e.preventDefault();

            var next_page = await readForm("configure_page2");

            $('#page2').html(next_page);
            $('#page2').show();
            $('#page1').hide();
        });

        document.getElementById('form').addEventListener("submit", async function(e) {
            e.preventDefault();

            var next_page = await readForm("generateConfigFile");
            alert(next_page)
        });

        // Listen for system theme changes, switch to dark/light mode to reflect (responsive)
        window.matchMedia('(prefers-color-scheme: dark)').addListener(function (e) {
            if (e.matches) { // Returns True for dark mode, False otherwise
                document.body.classList.add("dark");
                for (el of document.getElementsByClassName("table")) {
                    el.classList.add("table-dark")
                };
            } else {
                document.body.classList.remove("dark");
                for (el of document.getElementsByClassName("table")) {
                    el.classList.remove("table-dark")
                };
            }
        });
    </script>

</body>


</html>
