{% if context %}

        <h3>Select targets for each sensor</h3>

        {% for sensor, type in context.sensors.items %}

            <div class="row g-5">
                <label class="col-2 col-form-label" for="{{sensor}}-targets"><b>{{ sensor }} ({{ type }}) targets:</b></label>
                <div class="col col-10">

                    {% for device, dtype in context.devices.items %}

                        <input type="checkbox" id="target-{{sensor}}-{{device}}" name="target-{{sensor}}-{{device}}" value="target-{{sensor}}-{{device}}">
                        <label for="target-{{sensor}}-{{device}}">{{ device }} ({{ dtype }})</label><br>

                    {% endfor %}
                    </select>
                </div>
            </div><br>


        {% endfor %}

        <button id="page2-button" type="button">Submit</button>

    <script>

        document.getElementById('page2-button').addEventListener("click", async function(e) {
            e.preventDefault();

            var next_page = await readForm("configure_page3");

            $('#page3').html(next_page);
            $('#page2').hide();
        });

    </script>

{% else %}

{% endif %}
