{# TODO remove widthratio hack #}
{# Used to perform division in template #}
{# Calculates step that is ~1% of full range #}
<div class="mb-2">
    <label class="mt-1 w-100">
        <b>Default Rule:</b>
        <div class="d-flex flex-row align-items-center my-2">
            <button class="btn btn-sm me-1" onclick="rule_slider_increment(this);" data-section="{{category}}{{index}}" data-direction="down" data-stepsize="{% widthratio instance_metadata.rule_limits.1 100 1|floatformat:"0" %}"><i class="bi-dash-lg"></i></button>
            <input type="range" class="mx-auto" min="{{ instance_metadata.rule_limits.0 }}" max="{{ instance_metadata.rule_limits.1 }}" data-displaymin="1" data-displaymax="100" data-displaytype="int" step="1" value="{{params.default_rule}}" oninput="update_config(this);" data-section="{{category}}{{index}}" data-param="default_rule" autocomplete="off">
            <button class="btn btn-sm ms-1" onclick="rule_slider_increment(this);" data-section="{{category}}{{index}}" data-direction="up" data-stepsize="{% widthratio instance_metadata.rule_limits.1 100 1|floatformat:"0" %}"><i class="bi-plus-lg"></i></button>
        </div>
    </label>
</div>

{# Advanced settings collapse #}
<div class="mt-3 text-center">
    <a class="text-decoration-none text-dim" data-bs-toggle="collapse" href="#{{category}}{{index}}-advanced_settings" role="button" aria-expanded="false" aria-controls="{{category}}{{index}}-advanced_settings">Advanced</a>
</div>

<div id="{{category}}{{index}}-advanced_settings" class="collapse">
    <div class="mb-2">
        <label><b>Min brightness:</b></label>
        <input type="text" class="form-control rule-limits" value="{{params.min_rule}}" data-min="{{ instance_metadata.rule_limits.0 }}" data-max="{{ instance_metadata.rule_limits.1 }}" oninput="update_config(this);" data-section="{{category}}{{index}}" data-param="min_rule" required>
    </div>

    <div class="mb-2">
        <label><b>Max brightness:</b></label>
        <input type="text" class="form-control rule-limits" value="{{params.max_rule}}" data-min="{{ instance_metadata.rule_limits.0 }}" data-max="{{ instance_metadata.rule_limits.1 }}" oninput="update_config(this);" data-section="{{category}}{{index}}" data-param="max_rule" required>
    </div>
</div>
