<div class="mb-2">
    <label for="{{category}}{{index}}-default_rule" class="{{category}}{{index}}"><b>Default Rule:</b></label>
    <select id="{{category}}{{index}}-default_rule" class="form-select {{category}}{{index}}" autocomplete="off" oninput="update_config(this);" required>
        <option disabled>Select default rule</option>
        <option value="enabled" {% if params.default_rule|lower == "enabled" %} selected {% endif %}>Enabled</option>
        <option value="disabled" {% if params.default_rule|lower == "disabled" %} selected {% endif %}>Disabled</option>
    </select>
</div>
