<div class="mb-2 text-center">
    <button id="device{{index}}-default_rule-button" class="btn btn-secondary mt-3 device{{index}}" onclick="open_rule_modal(this);" type="button" data-target="device{{index}}-default_rule">Set rule</button>
</div>

{# Hidden field receives rule from modal, onchange adds to button dataset attr (repopulate modal if reopened) #}
<div style="display:none;">
    <input type="text" id="device{{index}}-default_rule" value="{{params.default_rule}}" onchange="update_config(this);" data-section="{{category}}{{index}}" data-param="default_rule" required>
</div>
