<div class="mb-2">
    <label for="{{category}}{{index}}-default_rule" class="{{category}}{{index}}"><b>Default Rule:</b></label>
    <select id="{{category}}{{index}}-default_rule" class="form-select {{category}}{{index}}" autocomplete="off" oninput="update_config(this);" data-section="{{category}}{{index}}" data-param="default_rule" required>
        <option disabled>Select default rule</option>
        <option value="on" {% if params.default_rule|lower == "on" %} selected {% endif %}>On</option>
        <option value="off" {% if params.default_rule|lower == "off" %} selected {% endif %}>Off</option>
    </select>
</div>
