{% load static %}
{% load pwa %}
{% load combine_dicts %}
{% load is_device %}
{% load is_sensor %}
{% load only_digits %}
{% load get_metadata %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ TITLE }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% progressive_web_app_meta %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'node_configuration/style.css' %}">
    <link rel="stylesheet" href="{% static 'api/sliders.css' %}">
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'rangeslider.min.js' %}"></script>
    <script src="{% static 'smoothscroll.min.js' %}"></script>
    <style>
        /* Force equal width for schedule rule fields */
        td {
            width: 50%;
        }

        /* Delete card animation */
        :root {
            --animation-height: 25rem;
        }

        @keyframes slide-up {
            0% {
                bottom: 0rem;
            }
            100% {
                bottom: var(--animation-height);
            }
        }

        .slide-up {
            animation-name: slide-up;
            animation-duration: 0.8s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }

        @keyframes fade-out {
            0% {
                opacity: 100%;
            }
            100% {
                opacity: 0%;
            }
        }

        .fade-out {
            animation-name: fade-out;
            animation-duration: 0.4s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }

        .fade-in {
            animation-name: fade-out;
            animation-direction: reverse;
            animation-duration: 0.4s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }
    </style>
</head>

<body>
    <script>
        // Check if user is in dark mode, change theme (runs once on page load)
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.body.classList.add("dark");
            console.log("Dark mode");
        } else {
            document.body.classList.add("light");
        };
    </script>

    <div class="container d-flex flex-column vh-100">
        <h1 class="text-center pt-3 pb-4">{{ TITLE }}</h1>

        <div id="page1" class="d-flex flex-column h-100">
            <div id="metadata">
                <div  class="mb-4">
                    <h2>Metadata</h2>
                    <div class="mb-2">
                        <label><b>Name:</b></label>
                        <input type="text" class="form-control" value="{{NAME}}" placeholder="" oninput="prevent_duplicate_friendly_name(this);update_config(this);" data-section="metadata" data-param="id" aria-describedby="friendlyName-feedback" required>
                        <div id="friendlyName-feedback" class="invalid-feedback">
                            Name must be unique
                        </div>
                    </div>
                    <div class="mb-2">
                        <label><b>Location:</b></label>
                        <input type="text" class="form-control" placeholder="" value="{{config.metadata.location}}" oninput="update_config(this);" data-section="metadata" data-param="location" required>
                    </div>
                    <div class="mb-2">
                        <label><b>Floor:</b></label>
                        <input type="text" class="form-control" placeholder="" value="{{config.metadata.floor}}" oninput="prevent_non_numeric(event);update_config(this);" data-section="metadata" data-param="floor" required>
                    </div>
                </div>
                <div class="mb-4">
                    <h2>Wifi</h2>
                    <div class="mb-2">
                        <label for="ssid"><b>SSID:</b></label>
                        <input type="text" class="form-control" id="ssid" placeholder="" value="{{config.wifi.ssid}}" onchange="open_toast()" oninput="update_config(this);" data-section="wifi" data-param="ssid" required>
                    </div>
                    <div class="mb-2">
                        <label for="password"><b>Password:</b></label>
                        <input type="password" class="form-control" id="password" placeholder="" value="{{config.wifi.password}}" onchange="open_toast()" oninput="update_config(this);" data-section="wifi" data-param="password" required>
                    </div>
                </div>

                <div id="ir_blaster_row" class="max-width-md-50 mx-auto">
                    <p class="text-center mt-5">
                        <button type="button" class="btn btn-secondary" data-selected="{% if config.ir_blaster %}true{% else %}false{% endif %}" data-bs-toggle="collapse" data-bs-target="#ir_blaster" aria-expanded="false" aria-controls="ir_blaster" onclick="select_ir_blaster(this);">
                            Add IR Blaster
                        </button>
                    </p>
                    <div class="collapse {% if config.ir_blaster %}show{% endif %} text-center" id="ir_blaster">
                        <div id="ir_blaster_config" class="card mb-3">
                            <div class="card-body mx-auto">
                                <h2>IR Blaster</h2>
                                <input name="irblaster_configured" type="checkbox" class="d-none" id="irblaster_configured" {% if config.ir_blaster %} checked {% endif %}>

                                {% include "node_configuration/device_pin_select.html" with index="0" name="ir_blaster_pin" pin=config.ir_blaster.pin %}

                                <div class="mb-2">
                                    <label for="ir-remotes"><b>Virtual remotes:</b></label>
                                    <div id="ir-remotes" class="form-check">
                                        <input class="form-check-input" type="checkbox" name="irblaster-tv" id="checkbox-tv" {% if "tv" in config.ir_blaster.target %}checked{% endif %} oninput="update_config_ir_target(this)" autocomplete="off">
                                        <label class="form-check-label" for="checkbox-tv">TV (Samsung)</label></br>
                                        <input class="form-check-input" type="checkbox" name="irblaster-ac" id="checkbox-ac" {% if "ac" in config.ir_blaster.target %}checked{% endif %} oninput="update_config_ir_target(this)" autocomplete="off">
                                        <label class="form-check-label" for="checkbox-ac">AC (Whynter)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div id="sensors" class="col-sm">
                    <h2 class="text-center">Add Sensors</h2>

                    {% for instance, params in config.items %}
                        {% if instance|is_sensor %}
                            {# Add card with dynamically-selected input components based on sensor metadata #}
                            {% include "node_configuration/instance_card.html" with id="addSensorDiv" category="sensor" index=instance|only_digits instance_metadata=metadata|get_metadata:params %}
                        {% endif %}
                    {% endfor %}

                    <!-- Button used to add another sensor card -->
                    <div id="addSensorButton" class="text-center position-relative">
                        <button onclick="load_next_sensor()" type="button" class="btn-secondary btn mb-3">Add Sensor</button>
                    </div>
                </div>

                <div id="devices" class="col-sm">
                    <h2 class="text-center">Add Devices</h2>

                    {% for instance, params in config.items %}
                        {% if instance|is_device %}
                            {# Add card with dynamically-selected input components based on device metadata #}
                            {% include "node_configuration/instance_card.html" with id="addDeviceDiv" category="device" index=instance|only_digits instance_metadata=metadata|get_metadata:params %}
                        {% endif %}
                    {% endfor %}

                    <!-- Button used to add another device card -->
                    <div id="addDeviceButton" class="text-center position-relative">
                        <button onclick="load_next_device()" type="button" class="btn-secondary btn mb-3">Add Device</button>
                    </div>
                </div>
            </div>

            <!-- Change page buttons -->
            <div class="d-flex justify-content-between mx-3 mt-auto">
                <button onclick="show_overview();" type="button" class="btn btn-secondary mb-3">Back</button>
                <button type="button" class="btn btn-primary mb-3" style="visibility: hidden;">Submit</button>
                <button onclick="show_page_2();" type="button" class="btn btn-primary mb-3">Next</button>
            </div>
        </div>

        <div id="page2" class="flex-column h-100 d-none">
            <div id="page2-cards">
            </div>

            <!-- Change page buttons -->
            <div class="d-flex justify-content-between mx-3 mt-auto">
                <button onclick="show_page_1();" type="button" class="btn btn-primary mb-3">Back</button>
                <button type="button" class="btn btn-primary mb-3" style="visibility: hidden;">Submit</button>
                <button onclick="show_page_3();" type="button" class="btn btn-primary mb-3">Next</button>
            </div>
        </div>

        <div id="page3" class="flex-column h-100 d-none">
            <h3>Add schedule rules (optional)</h3>
                <div id="page3-cards">
                </div>

            <!-- Change page buttons -->
            <div class="d-flex justify-content-between mx-3 mt-auto">
                <button onclick="show_page_2();" type="button" class="btn btn-primary mb-3">Back</button>
                <button onclick="submit(this)" id="submit-button" type="submit" class="btn btn-primary mb-3">Submit</button>
                <button type="button" class="btn btn-secondary mb-3" disabled>Next</button>
            </div>
        </div>

        <!-- Schedule rule modal opened when user clicks rule parameter -->
        {% include "api/schedule_rule_modal.html" %}

        {# Add loading and error modals #}
        {% include "node_configuration/upload_modals.html" %}

        <!-- Overwrite duplicate modal dialog -->
        <div class="modal fade" id="duplicate-modal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" style="border-bottom: 0px;">
                        <h5 class="mx-auto" id="error-modal-title">Duplicate Warning</h5>
                    </div>
                    <div class="modal-body text-center" id="duplicate-modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="cancel-overwrite" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" id="confirm-overwrite" class="btn btn-danger me-auto" data-bs-dismiss="modal">Overwrite</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Api-target set rule modal -->
        {% include "node_configuration/api_target_rule_modal.html" with target_instructions='Commands are sent to the target node, which can be changed by closing this popup and selecting an option in the "Target Node" dropdown.' %}

        <!-- Toast notification shown when user sets wifi credentials -->
        <div class="fixed-bottom">
            <div id="set_credentials_toast" class="toast text-center mx-auto mb-3" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
                <div class="toast-body">
                    <div id="toast-text" class="mb-2">Save default wifi credentials?</br>(pre-loaded on all future configs)</div>
                    <button class="btn btn-sm btn-primary me-2" data-bs-dismiss="toast" onclick="set_default_credentials();">Yes</button>
                    <button class="btn btn-sm btn-secondary" data-bs-dismiss="toast">No</button>
                </div>
            </div>
        </div>
    </div>

    {{ api_target_options|json_script:"api_target_options" }}
    {{ metadata|json_script:"instance_metadata" }}
    {{ edit_existing|json_script:"edit_existing" }}
    {{ config|json_script:"config" }}

    <script>
        // Get object used to populate api-target options from context
        const ApiTargetOptions = JSON.parse(document.getElementById("api_target_options").textContent);

        // Get device/sensor metadata object, used to determine input elements for each type
        // Contains config templates for each device/sensor, added to output object when selected
        const metadata = JSON.parse(document.getElementById("instance_metadata").textContent);

        // Store full config file
        const config = JSON.parse(document.getElementById("config").textContent);

        // Get var passed to submit_form function, controls whether config is re-uploaded
        const edit_existing = JSON.parse(document.getElementById("edit_existing").textContent);
        // If editing get original name (prevents rejecting existing name as duplicate)
        if (edit_existing) {
            var orig_name = config.metadata.id.toLowerCase();
        };

        // Store parameters used to re-upload config after editing
        const target_ip = "{{ IP }}";
        const target_filename = "{{ FILENAME }}";

        // Called when any field on page 1 is update, adds value to config object
        function update_config(input) {
            // Add value to config key specified in dataset attributes
            const section = input.dataset.section;
            const param = input.dataset.param;
            config[section][param] = input.value;
        };

        // Called when any target box checked or unchecked, adds value to config object
        function update_config_targets(input) {
            const [_, sensor, device] = input.id.split('-');
            if (input.checked) {
                config[sensor]['targets'].push(device);
            } else {
                // Remove existing value if box unchecked
                config[sensor]['targets'] = config[sensor]['targets'].filter(item => item !== device);
            };
        };

        // Takes input element, sends input event
        // Used to trigger listener that updates config object
        function trigger_input_event(element) {
            const input = new Event('input');
            element.dispatchEvent(input);
        };

        // Trigger listener on all input elements when page loads
        // Prevents autocompleted fields (ie metadata, wifi) being lost after page refresh
        window.onload = function() {
            document.querySelectorAll('input').forEach(input => trigger_input_event(input));
        };

        // Track if user made changes (triggers warning before going back to overview)
        let changes_made = false;
        document.addEventListener('input', function() {
            changes_made = true;
        }, { once: true });

        // Create modal objects
        const uploadModal = new bootstrap.Modal(document.getElementById('upload-modal'));
        const errorModal = new bootstrap.Modal(document.getElementById('error-modal'));
        const duplicateModal = new bootstrap.Modal(document.getElementById('duplicate-modal'));
        const ruleModal = new bootstrap.Modal(document.getElementById('schedule-rule-modal'));

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        };

        // Initialize toast shown when user changes wifi credentials
        const set_credentials_toast = new bootstrap.Toast(document.getElementById("set_credentials_toast"));

        // Called when values in wifi SSID/password fields change
        function open_toast() {
            const ssid = document.getElementById("ssid").value;
            const pass = document.getElementById("password").value;

            // Only open if both fields are filled
            if (ssid && pass) {
                set_credentials_toast.show();
            } else {
                set_credentials_toast.hide();
            };
        };

        // Handler for default wifi toast yes button
        function set_default_credentials() {
            const ssid = document.getElementById("ssid").value;
            const pass = document.getElementById("password").value;
            send_post_request("set_default_credentials", {"ssid": ssid, "password": pass});
        };

        // Listen for system theme changes, switch to dark/light mode to reflect (responsive)
        window.matchMedia('(prefers-color-scheme: dark)').addListener(function (e) {
            if (e.matches) { // Returns True for dark mode, False otherwise
                document.body.classList.add("dark");
                document.body.classList.remove("light");

                // Modal close buttons
                document.querySelectorAll('.btn-close').forEach(button => button.classList.add("btn-close-white"));
            } else {
                document.body.classList.remove("dark");
                document.body.classList.add("light");

                // Modal close buttons
                document.querySelectorAll('.btn-close').forEach(button => button.classList.remove("btn-close-white"));
            };
        });

        // Set modal close button color (runs once on load)
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.querySelectorAll('.btn-close').forEach(button => button.classList.add("btn-close-white"));
        };
    </script>
    <script src="{% static 'node_configuration/validate.js' %}"></script>
    <script src="{% static 'node_configuration/rule_sliders.js' %}"></script>
    <script src="{% static 'node_configuration/apiTargetOptions.js' %}"></script>
    <script src="{% static 'node_configuration/submit.js' %}"></script>
    <script src="{% static 'node_configuration/upload.js' %}"></script>
    <script src="{% static 'node_configuration/add-instance.js' %}"></script>
    <script src="{% static 'node_configuration/page-buttons.js' %}"></script>
    <script src="{% static 'node_configuration/schedule-rules.js' %}"></script>
    <script src="{% static 'node_configuration/ir_blaster.js' %}"></script>
    <script src="{% static 'api/schedule_rule_modal.js' %}"></script>
</body>
</html>
