{% load static %}
{% load pwa %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ TITLE }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% progressive_web_app_meta %}
</head>

<body>
    <div id="root" class="container"></div>
    {{ metadata|json_script:"instance_metadata" }}
    {{ edit_existing|json_script:"edit_existing" }}
    {{ api_target_options|json_script:"api_target_options" }}
    {{ config|json_script:"config" }}
    {{ IP|json_script:"target_node_ip" }}
    <script src="{% static 'webapp/edit_config.js' %}"></script>
</body>
</html>
