{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create new config file</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'node_configuration/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_configuration/style.css' %}">
    <script src="{% static 'node_configuration/bootstrap.min.js' %}"></script>
    <script src="{% static 'node_configuration/jquery.min.js' %}"></script>
    <script>

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        };

    </script>
    <style>
        td {
            width: auto;
        }

        td.min {
            width: 1%;
            white-space: nowrap;
        }
    </style>
</head>

<body>
    <div class="container">
        <div>
            <h1 class="text-center mt-3">Configure Nodes</h1>
        <div><br>

        {% if context %}

            {% if context.uploaded %}
                <div id="existing" class="mx-3">
                    <h3 class="mb-3">Existing Nodes:</h3>

                    <table id="nodes_table" class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>Name</th>
                            <th>IP</th>
                            <th></th>
                        </tr>

                        {% for node in context.uploaded %}
                            <tr id="{{node.friendly_name}}">
                                <td>{{node.friendly_name}}</td>
                                <td>{{node.ip}}</td>
                                <td class="min"><button type="button" class="edit btn-primary btn btn-sm" id="edit-{{node.friendly_name}}">Edit</button></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div></br></br>
            {% endif %}

            {% if context.not_uploaded %}
                <div id="not_uploaded" class="mx-3">
                    <h3 class="mb-3">Configs ready to upload:</h3>

                    <table id="not_uploaded_table" class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>Name</th>
                            <th>IP</th>
                            <th></th>
                        </tr>
                        {% for config in context.not_uploaded %}
                            <tr id="{{config}}">
                                <td class="min">{{config}}</td>
                                <td><input type="text" id="{{config}}-ip" placeholder="xxx.xxx.x.xxx" name="{{config}}-ip" class="form-control"></td>
                                <td class="min"><button type="button" class="upload btn-primary btn btn-sm" id="upload-{{config}}">Upload</button></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            {% endif %}

            <!-- If no un-uploaded configs exist, add new config button in div (no table)-->
            <div id="add_new_config" class="mb-3 mx-3">
                <a href="/configure" class="btn-primary btn">Create new config</a>
            </div>

        {% endif %}

    </div>

    <script>
        async function upload(e) {
            const config = e.target.id.replace("upload-", "")
            const ip = document.getElementById(config + "-ip").value

            const data = {config: config, ip: ip};

            let csrftoken = getCookie('csrftoken');

            const response = await fetch("upload", {
                method: 'POST',
                body: JSON.stringify(data),
                headers: { 'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json',
                    "X-CSRFToken": csrftoken }
            });

            const result = await response.text();

            alert(result);

            location.reload();
        };

        function edit(e) {
            alert("Not yet implemented");
//             alert(e.target.id);
        };

        $('.upload').on('click', upload);
        $('.edit').on('click', edit);

    </script>

</body>
</html>
