<div id="{{id}}{{index}}" class="mb-4 {{category}}{{index}}">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <button class="btn ps-2" style="visibility:hidden;"><i class="bi-x-lg"></i></button>
                <h4 class="card-title mx-auto my-auto">{{category}}{{index}}</h4>
                <button class="btn my-auto pe-2 delete" id="{{category}}{{index}}-remove" onclick="remove_instance(this)"><i class="bi-x-lg"></i></button>
            </div>

            {# Add correct instance type dropdown with correct option pre-selected #}
            {% if category == "sensor" %}
                {% include "node_configuration/sensor_type_dropdown.html" with selected=instance_metadata.config_name %}
            {% else %}
                {% include "node_configuration/device_type_dropdown.html" with selected=instance_metadata.config_name %}
            {% endif %}

            {# Add card body with nickname input #}
            <div class="card-body {{category}}{{index}} configParams">
                <div class="mb-2">
                    <label for="{{category}}{{index}}-nickname"><b>Nickname:</b></label>
                    <input type="text" class="form-control nickname" id="{{category}}{{index}}-nickname" placeholder="" value="{{params.nickname}}" onchange="update_nickname(this)" oninput="prevent_duplicate_nickname(event);update_config(this);" data-section="{{category}}{{index}}" data-param="nickname" required>
                    <div id="{{category}}-nickname-feedback" class="invalid-feedback">Name already in use</div>
                </div>

                {# Add correct input for each config parameter #}
                {% if "pin" in params %}
                    {% if category == "sensor" %}
                        {% include "node_configuration/sensor_pin_select.html" %}
                    {% else %}
                        {% include "node_configuration/device_pin_select.html" with pin=params.pin %}
                    {% endif %}
                {% endif %}

                {% if "ip" in params %}
                    {% if instance_metadata.rule_prompt != "api_target" %}
                        {# Default: Add text field with IP validator, accepts any IPv4 address #}
                        {% include "node_configuration/ip_address_input.html" %}
                    {% else %}
                        {# ApiTarget: Add dropdown of existing node names instead of open-ended IP input #}
                        {% include "node_configuration/target_node_dropdown.html" %}
                    {% endif %}
                {% endif %}

                {% if "uri" in params %}
                    {% include "node_configuration/uri_input.html" %}
                {% endif %}

                {# Add correct default rule input #}
                {% if instance_metadata.rule_prompt == "standard" %}
                    {% include "node_configuration/default_rule_standard.html" %}

                {% elif instance_metadata.rule_prompt == "on_off" %}
                    {% include "node_configuration/default_rule_on_off.html" %}

                {% elif instance_metadata.rule_prompt == "float_range" %}
                    {% include "node_configuration/default_rule_float_range.html" with step="0.5" %}

                {% elif instance_metadata.rule_prompt == "int_or_fade" or instance_metadata.rule_prompt == "int_range" %}
                    {% include "node_configuration/default_rule_int_or_fade.html" %}

                {% elif instance_metadata.rule_prompt == "api_target" %}
                    {% include "node_configuration/default_rule_api_target.html" %}

                {% endif %}

                {# Add Thermostat-specific inputs #}
                {% if instance_metadata.config_name == "si7021" %}
                    <div class="mb-2">
                        <label class="form-label sensor{{index}}" for="sensor{{index}}-mode"><b>Mode:</b></label>
                        <select id="sensor{{index}}-mode" class="form-select mb-3" data-section="{{category}}{{index}}" data-param="mode" required>
                            {% if params.mode == "cool" %}
                                <option value="cool" id="cool" selected>Cool</option>
                                <option value="heat" id="heat">Heat</option>
                            {% elif params.mode == "heat" %}
                                <option value="cool" id="cool">Cool</option>
                                <option value="heat" id="heat" selected>Heat</option>
                            {% else %}
                                <option value="cool" id="cool">Cool</option>
                                <option value="heat" id="heat">Heat</option>
                            {% endif %}
                        </select>
                    </div>

                    <div class="mb-2">
                        <label for="sensor{{index}}-tolerance"><b>Tolerance:</b></label>
                        <input type="text" class="form-control thermostat" id="sensor{{index}}-tolerance" placeholder="" value="{{params.tolerance}}" oninput="update_config(this);" data-section="{{category}}{{index}}" data-param="tolerance" required>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
