{% load static %}
{% load pwa %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Config Overview - Micropython Smarthome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% progressive_web_app_meta %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'node_configuration/style.css' %}">
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <style>
        .table {
            border-radius: 10px;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="container d-flex flex-column vh-100">
        <div class="d-flex justify-content-between">
            <button type="button" class="btn my-auto" id="back_button" style="visibility:hidden"><i class="bi-chevron-left"></i></button>
            <h1 class="my-3">Configure Nodes</h1>
            <div class="dropdown my-auto">
                <button type="button" class="btn" id="settings_button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi-gear-fill"></i></button>
                <ul id="settings_menu" class="dropdown-menu dropdown-menu-end" aria-labelledby="settings_button">
                    <li><a class="dropdown-item" onclick='wifiModal.show();'>Set WIFI credentials</a></li>
                    <li><a class="dropdown-item" onclick='reupload_all()'>Re-upload all</a></li>
                    <li><a class="dropdown-item" onclick='restoreModal.show();'>Restore config</a></li>
                    <li><a class="dropdown-item" onclick='integrationModal.show();'>Desktop integration</a></li>
                </ul>
            </div>
        </div>

        {% if not_uploaded %}
            <div id="not_uploaded" class="row section px-0 pt-2 mb-5">
                <h3 class="text-center my-1" data-bs-toggle="collapse" data-bs-target="#not_uploaded_table_collapse">Configs Ready to Upload</h3>
                <div class="collapse show" id="not_uploaded_table_collapse">
                    <table id="not_uploaded_table" class="table table-sm table-borderless table-hover mt-3 mx-auto">
                        <tr>
                            <th class="w-50">Name</th>
                            <th class="w-50">IP</th>
                            <th></th>
                            <th></th>
                        </tr>
                        {% for config in not_uploaded %}
                            <tr id="{{config}}">
                                <td class="min align-middle"><span class="form-control text-center">{{config}}</span></td>
                                <td><input type="text" id="{{config}}-ip" placeholder="xxx.xxx.x.xxx" name="{{config}}-ip" pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" class="form-control ip-input text-center" required></td>
                                <td class="min align-middle"><button type="button" class="btn-primary btn btn-sm" id="upload-{{config}}" onclick="set_upload_target(this);" disabled>Upload</button></td>
                                <td class="min align-middle"><button type="button" class="btn-danger btn btn-sm" onclick="del_config('{{config}}');"><i class="bi-trash"></i></button></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}

        {% if uploaded %}
            <div id="existing" class="row section px-0 pt-2">
                <h3 class="text-center my-1" data-bs-toggle="collapse" data-bs-target="#node_table_collapse">Existing Nodes</h3>
                <div class="collapse show" id="node_table_collapse">
                    <table id="nodes_table" class="table table-sm table-borderless table-hover mt-3 mx-auto">
                        <tr>
                            <th class="w-50">Name</th>
                            <th class="w-50">IP</th>
                            <th></th>
<!--                             <th></th> -->
                        </tr>

                        {% for node in uploaded %}
                            <tr id="{{node.friendly_name}}">
                                <td class="align-middle"><span class="form-control keyword text-center">{{node.friendly_name}}</span></td>
                                <td class="align-middle"><span class="form-control keyword text-center">{{node.ip}}</span></td>
                                <td class="min align-middle">
                                    <div class="dropdown my-auto">
                                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-list"></i></button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" onclick="window.location.href = '/edit_config/{{node.friendly_name}}'">Edit</a></li>
                                            <li><a class="dropdown-item">Re-upload</a></li>
                                            <li><a class="dropdown-item">Change IP</a></li>
                                            <li><a class="dropdown-item" onclick="del_node('{{node.friendly_name}}')">Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}

        <!-- Add new config button -->
        <div id="add_new_config" class="mt-2 mb-5 text-center">
            <a href="/new_config" class="btn-primary btn">Create new config</a>
        </div>

        <div id="keywords" class="row section px-0 pt-2">
            <h3 class="text-center my-1" data-bs-toggle="collapse" data-bs-target="#keywords_table_collapse">Schedule Keywords</h3>
            <div class="collapse show" id="keywords_table_collapse">
                <table id="keywords_table" class="table table-sm table-borderless table-hover mt-3 mx-auto">
                    <tr>
                        <th class="w-50">Keyword</th>
                        <th class="w-50">Timestamp</th>
                        <th></th>
                        <th></th>
                    </tr>

                    {% if schedule_keywords %}
                    {% for keyword, timestamp in schedule_keywords.items %}
                        <tr id="{{keyword}}_row">
                            <td class="align-middle">
                                <input id="{{keyword}}_keyword" type="text" class="form-control keyword text-center" value="{{keyword}}" data-original="{{keyword}}" placeholder="Keyword"  autocomplete="off" oninput="update_keyword_listener(this)">
                            </td>
                            <td class="align-middle">
                                <input id="{{keyword}}_timestamp" type="time" class="form-control keyword text-center" value="{{timestamp}}" data-original="{{timestamp}}" placeholder="HH:MM"  autocomplete="off" oninput="update_keyword_listener(this)">
                            </td>
                            <td class="min align-middle">
                                <button id="{{keyword}}_edit_button" type="button" class="btn-primary btn btn-sm" title="Update" onclick="update_keyword('{{keyword}}')" disabled><i class="bi bi-arrow-clockwise"></i></button>
                            </td>
                            <td class="min align-middle">
                                <button id="{{keyword}}_del_button" type="button" class="btn-danger btn btn-sm" title="Delete" onclick="del_keyword('{{keyword}}')"><i class="bi-trash"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                    <tr id="add_keyword_row">
                        <td class="align-middle">
                            <input id="add_keyword_keyword" type="text" class="form-control text-center" value="" placeholder="Keyword" autocomplete="off" oninput="new_keyword_listener()">
                        </td>
                        <td class="align-middle">
                            <input id="add_keyword_timestamp" type="time" class="form-control text-center" value="" placeholder="HH:MM" autocomplete="off" oninput="new_keyword_listener()">
                        </td>
                        <td class="min align-middle">
                            <button id="add_keyword_button" type="button" class="btn-primary btn btn-sm" title="Add" onclick="add_keyword()" disabled><i class="bi-plus"></i></button>
                        </td>
                        <td class="min align-middle">
                            <button type="button" class="btn-primary btn btn-sm" style="visibility: hidden;"><i class="bi bi-arrow-clockwise"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <script>
            // Check if user is in dark mode, change theme (runs once on page load)
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.body.classList.add("dark");
                try { document.getElementById("nodes_table").classList.add("table-dark"); } catch(err) {};
                try { document.getElementById("not_uploaded_table").classList.add("table-dark"); } catch(err) {};
                try { document.getElementById("keywords_table").classList.add("table-dark"); } catch(err) {};
                document.getElementById("settings_button").classList.add("btn-dark");
                Array.from(document.getElementsByClassName("dropdown-menu")).forEach(menu => menu.classList.add("dropdown-menu-dark"));
                console.log("Dark mode");
            } else {
                document.getElementById("settings_button").classList.add("btn-light");
            };
        </script>

        <!-- Link to API card frontend -->
        <div class="d-flex align-items-center flex-column mt-auto">
            <button class="btn btn-secondary my-3" type="button" onclick="window.location.href = '/api'">Frontend</button>
        </div>
    </div>

    <!-- Confirm delete modal -->

    <div class="modal fade" id="delete-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0px;">
                    <h5 class="mx-auto" id="delete-modal-title">Confirm Delete</h5>
                </div>
                <div class="modal-body text-center">
                    <p>This cannot be undone - are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="cancel-delete" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" id="confirm-delete" class="btn btn-danger me-auto" data-bs-dismiss="modal" onclick="confirm_delete(this)">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Loading modal displayed while waiting on upload -->

    <div class="modal fade" id="upload-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" >
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0px;">
                    <h3 class="mx-auto" id="upload-modal-title">Uploading...</h3>
                </div>
                <div class="modal-body d-flex justify-content-center mb-4" id="upload-modal-body">
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Error modal displayed when upload fails -->

    <div class="modal fade" id="error-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" >
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0px;">
                    <h3 class="mx-auto" id="error-modal-title">Error</h3>
                </div>
                <div class="modal-body d-flex justify-content-center flex-column mx-auto" id="error-modal-body">
                </div>
                <div class="modal-footer d-flex justify-content-center" id="error-modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- Wifi modal, used to set default credentials -->

    <div class="modal fade" id="wifi-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" >
            <div class="modal-content">
                <div class="modal-header justify-content-between pb-0">
                    <button type="button" class="btn-close" style="visibility:hidden"></button>
                    <h5 id="wifi-modal-title" class="modal-title">Default Wifi</h5>
                    <button id="wifi-modal-close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="wifi-modal-body">
                    <p class="text-center">These credentials will be pre-filled every time a new config is created</p>

                    <label for="ssid"><b>Network:</b></label>
                    <input type="text" class="form-control modal-input" id="ssid" placeholder="" name="ssid" autocomplete="off" required>

                    <label for="password"><b>Password:</b></label>
                    <input type="password" class="form-control modal-input" id="password" placeholder="" name="password" autocomplete="off" required>

                    <div class="modal-footer">
                        <button type="button" id="ok-button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" id="ok-button" class="btn btn-success me-auto" data-bs-dismiss="modal" onclick="set_default_credentials()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Restore modal, used to populate models from existing nodes after database lost -->

    <div class="modal fade" id="restore-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" >
            <div class="modal-content">
                <div class="modal-header justify-content-between pb-0">
                    <button type="button" class="btn-close" style="visibility:hidden"></button>
                    <h5 id="restore-modal-title" class="modal-title">Restore Config</h5>
                    <button id="restore-modal-close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center" id="restore-modal-body">
                    <p class="text-center">This menu downloads config files from existing nodes and adds them to the database + frontend. This can be useful to rebuild the database if it is lost or corrupted.</p>

                    {# IDs "restore-ip" and "upload-restore" match syntax of new config upload inputs + buttons #}
                    {# hacky way to make this compatible with listeners (format + validation + submit-on-enter) #}
                    <div id="prompt">
                        <label for="restore-ip"><b>IP Address:</b></label>
                        <input type="text" class="form-control modal-input ip-input" id="restore-ip" placeholder="" name="ip" autocomplete="off" pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" required>
                    </div>
                    <div id="loading" class="d-none mx-auto">
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="upload-restore" class="btn btn-success mx-auto" onclick="restore_config()" disabled>Restore</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Desktop integration installer modal -->

    <div class="modal fade" id="integration-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" >
            <div class="modal-content">
                <div class="modal-header justify-content-between pb-0">
                    <button type="button" class="btn-close" style="visibility:hidden"></button>
                    <h5 id="integration-modal-title" class="modal-title">Install Desktop Integration</h5>
                    <button id="integration-modal-close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-center mt-3">This software integrates your computer into your smarthome:</p>
                    <ul>
                        <li>Allow sensors to turn your computer screen on and off</li>
                        <li>Turn other devices on when your screen is on</li>
                        <li>Turn other devices off when your screen goes to sleep</li>
                    </ul>
                    <p class="text-center">You can enable some or all of these functions by configuring <b>desktop</b> type devices and/or sensors on any node.</p>
                    <p class="text-center mt-5">To install, click the download button, unzip the file, and run <b>setup.sh</b></p>
                </div>
                <div class="modal-footer">
                    <a href="{% static 'node_configuration/micropython-smarthome-integration.zip' %}" download class="btn btn-success mx-auto">Download</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        const edit_existing = false;
        let target_ip = ""
        let target_filename = ""

        // Create modal objects
        const deleteModal = new bootstrap.Modal(document.getElementById('delete-modal'));
        const uploadModal = new bootstrap.Modal(document.getElementById('upload-modal'));
        const errorModal = new bootstrap.Modal(document.getElementById('error-modal'));
        const wifiModal = new bootstrap.Modal(document.getElementById('wifi-modal'));
        const restoreModal = new bootstrap.Modal(document.getElementById('restore-modal'));
        const integrationModal = new bootstrap.Modal(document.getElementById('integration-modal'));

        function set_upload_target(el) {
            target_filename = el.id.replace("upload-", "");
            target_ip = document.getElementById(target_filename + "-ip").value;
            upload();
        };

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        };

        // Called by button in delete modal
        async function confirm_delete(el) {
            // Target + endpoint were set when delete modal opened
            const target = el.dataset.target;
            const endpoint = el.dataset.endpoint;

            // Refresh page if delete succeeds, or show error
            let result = await send_post_request(endpoint, target);
            if (result.ok) {
                location.reload();
            } else {
                const error = await result.text();
                const footer = `<button type="button" id="ok-button" class="btn btn-success" data-bs-dismiss="modal">OK</button>`;
                show_modal(errorModal, "Error", `<p class="text-center">${error}</p>`, footer);
            };
        };

        function del_config(name) {
            deleteModal.show();

            // Add target config + endpoint attributes to modal delete button
            document.getElementById('confirm-delete').dataset.target = name;
            document.getElementById('confirm-delete').dataset.endpoint = 'delete_config'
        };

        function del_node(name) {
            deleteModal.show();

            // Add target node + endpoint attributes to modal delete button
            document.getElementById('confirm-delete').dataset.target = name;
            document.getElementById('confirm-delete').dataset.endpoint = 'delete_node'
        };

        // Handler for wifi default credentials modal
        function set_default_credentials() {
            const ssid = document.getElementById("ssid").value;
            const pass = document.getElementById("password").value;
            send_post_request("set_default_credentials", {"ssid": ssid, "password": pass});
        };

        // Handler for option in top-right corner menu
        async function reupload_all() {
            // Show loading spinner modal
            uploadModal.show();

            // Send request, receive report on which uploads succeeded/failed
            response = await fetch("/reupload_all");
            response = await response.json();
            console.log(response)

            // If all succeeded: change title, show success animation
            if (Object.keys(response.failed).length == 0) {
                const title = "Upload Complete"
                const body = `<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                                </svg>`
                show_modal(uploadModal, title, body);

                // Wait for animation to complete before hiding
                await sleep(1200);
                uploadModal.hide();

            // If any failed, show list of names and failure reasons
            } else {
                let failed = "";
                for (const node in response['failed']) {
                    failed += `<li>${node}: ${response['failed'][node]}</li>`
                };

                const body = `<div><h5 class="text-center">Failed:</h5><ul>${failed}</ul></div>`
                const footer = `<button type="button" id="ok-button" class="btn btn-success" data-bs-dismiss="modal">OK</button>`;
                show_modal(uploadModal, "Upload Complete", body, footer);
            };
        };

        async function restore_config() {
            // Disable submit, hide field, show loading animation
            document.getElementById('upload-restore').disabled = true;
            document.getElementById('prompt').classList.add('d-none')
            document.getElementById('loading').classList.remove('d-none')

            // Send request
            body = {'ip' : document.getElementById('restore-ip').value };
            response = await send_post_request("restore_config", body);

            // If successfully restore, show animation + reload
            if (response.ok) {
                document.getElementById('loading').innerHTML = upload_complete;

                // Wait for animation to complete before reloading
                await sleep(1200);
                location.reload();

            // Unreachable
            } else if (response.status == 404) {
                target_unreachable_prompt();

            // Duplicate
            } else if (response.status == 409) {
                show_modal(errorModal, "Duplicate", "A node with the same name or filename already exists", `<button type="button" id="yes-button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>`);

            // Other error, show in alert
            } else {
                alert(await response.text());
            };

            restoreModal.hide();
            document.getElementById('upload-restore').disabled = false;
            document.getElementById('loading').classList.add('d-none')
            document.getElementById('prompt').classList.remove('d-none')
        };

        async function add_keyword() {
            // Start loading animation on clicked button
            document.getElementById("add_keyword_button").innerHTML = `<div class="spinner-border spinner-border-sm" role="status"></div>`;

            const keyword = document.getElementById('add_keyword_keyword').value;
            const timestamp = document.getElementById('add_keyword_timestamp').value;

            let result = await send_post_request("add_schedule_keyword", {"keyword": keyword, "timestamp": timestamp});
            if (result.ok) {
                location.reload();
            } else {
                alert(await result.text());
            };
        };

        async function update_keyword(kw) {
            // Start loading animation on clicked button
            document.getElementById(`${kw}_edit_button`).innerHTML = `<div class="spinner-border spinner-border-sm" role="status"></div>`;

            const keyword_old = document.getElementById(`${kw}_keyword`).dataset.original;
            const keyword = document.getElementById(`${kw}_keyword`).value;
            const timestamp = document.getElementById(`${kw}_timestamp`).value;

            const payload = {
                "keyword_old": keyword_old,
                "keyword_new": keyword,
                "timestamp_new": timestamp
            };

            let result = await send_post_request("edit_schedule_keyword", payload);
            if (result.ok) {
                location.reload();
            } else {
                alert(await result.text());
            };
        };

        async function del_keyword(kw) {
            // Start loading animation on clicked button
            document.getElementById(`${kw}_del_button`).innerHTML = `<div class="spinner-border spinner-border-sm" role="status"></div>`;

            const keyword = document.getElementById(`${kw}_keyword`).value;

            let result = await send_post_request("delete_schedule_keyword", {"keyword": keyword});
            if (result.ok) {
                location.reload();
            } else {
                alert(await result.text());
            };
        };

        function new_keyword_listener() {
            const keyword_length = document.getElementById('add_keyword_keyword').value.length;
            const timestamp_length = document.getElementById('add_keyword_timestamp').value.length;

            if (keyword_length === 0 || timestamp_length === 0) {
                document.getElementById('add_keyword_button').disabled = true;
            } else {
                document.getElementById('add_keyword_button').disabled = false;
            };
        };

        function update_keyword_listener(input) {
            const target = input.id.split('_')[0];

            const new_keyword = document.getElementById(`${target}_keyword`).value;
            const new_timestamp = document.getElementById(`${target}_timestamp`).value;

            const old_keyword = document.getElementById(`${target}_keyword`).dataset.original;
            const old_timestamp = document.getElementById(`${target}_timestamp`).dataset.original;

            if (new_keyword != old_keyword || new_timestamp != old_timestamp) {
                document.getElementById(`${target}_edit_button`).disabled = false;
            } else {
                document.getElementById(`${target}_edit_button`).disabled = true;
            };
        };


        // Listen for system theme changes, switch to dark/light mode to reflect (responsive)
        window.matchMedia('(prefers-color-scheme: dark)').addListener(function (e) {
            if (e.matches) { // Returns True for dark mode, False otherwise
                document.body.classList.add("dark");
                document.getElementById("nodes_table").classList.add("table-dark");
                try{document.getElementById("not_uploaded_table").classList.add("table-dark");}catch(e){};
                document.getElementById("settings_button").classList.remove("btn-light");
                document.getElementById("settings_button").classList.add("btn-dark");
                Array.from(document.getElementsByClassName("dropdown-menu")).forEach(menu => menu.classList.add("dropdown-menu-dark"));
                document.getElementById('wifi-modal-close').classList.add('btn-close-white');
                document.getElementById('restore-modal-close').classList.add('btn-close-white');
                document.getElementById('integration-modal-close').classList.add('btn-close-white');
            } else {
                document.body.classList.remove("dark");
                document.getElementById("nodes_table").classList.remove("table-dark");
                try{document.getElementById("not_uploaded_table").classList.remove("table-dark");}catch(e){};
                document.getElementById("settings_button").classList.remove("btn-dark");
                document.getElementById("settings_button").classList.add("btn-light");
                Array.from(document.getElementsByClassName("dropdown-menu")).forEach(menu => menu.classList.remove("dropdown-menu-dark"));
                document.getElementById('wifi-modal-close').classList.remove('btn-close-white');
                document.getElementById('restore-modal-close').classList.remove('btn-close-white');
                document.getElementById('integration-modal-close').classList.remove('btn-close-white');
            }
        });

        // Set modal close button color (runs once on load)
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.getElementById('wifi-modal-close').classList.add('btn-close-white');
            document.getElementById('restore-modal-close').classList.add('btn-close-white');
            document.getElementById('integration-modal-close').classList.add('btn-close-white');
        };
    </script>
    <script src="{% static 'node_configuration/upload.js' %}"></script>
    {# Must import validate.js first so formatIp runs before listeners below #}
    {# Otherwise upload button can be disabled by an invalid key which is then removed #}
    <script src="{% static 'node_configuration/validate.js' %}"></script>
    <script>
        // Disable upload buttons if input contains invalid IP
        document.querySelectorAll('.ip-input').forEach(input => input.addEventListener('input', function(e) {
            const id = event.target.id.split('-')[0];

            if (!event.target.validity.valid) {
                document.getElementById(`upload-${id}`).disabled = true;
            } else {
                document.getElementById(`upload-${id}`).disabled = false;
            };
        }));

        // Click upload button if enter pressed in field with valid IP
        document.querySelectorAll('.ip-input').forEach(input => input.addEventListener('keyup', function(e) {
            if (e.key === 'Enter' || e.keyCode === 13) {
                const id = e.target.id.split('-')[0];
                const uploadButton = document.getElementById(`upload-${id}`);

                if (!uploadButton.disabled) {uploadButton.click()};
            };
        }));
    </script>
</body>
</html>
