{% load static %}
{% load pwa %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Config Overview - Micropython Smarthome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% progressive_web_app_meta %}
    <style>
        @media (prefers-color-scheme: dark) {
            body {
                background-color: #1B1E1F;
            }
        }
    </style>
</head>

<body>
    <div id="root" class="container"></div>
    {{ not_uploaded|json_script:"not_uploaded" }}
    {{ uploaded|json_script:"uploaded" }}
    {{ schedule_keywords|json_script:"schedule_keywords" }}
    {{ client_ip|json_script:"client_ip" }}
    {{ desktop_integration_link|json_script:"desktop_integration_link"}}
    <script src="{% static 'webapp/overview.js' %}"></script>
</body>
</html>
