<div class="mb-2">
    <label for="device{{context}}-pin"><b>Pin:</b></label>
    <input type="text" class="form-control" id="device{{context}}-pin" placeholder="" name="device{{context}}-pin" required>
</div>

<div class="mb-2">
    <label for="device{{context}}-min"><b>Min brightness:</b></label>
    <input type="min" class="form-control" id="device{{context}}-min" placeholder="0" name="device{{context}}-min" required>
</div>

<div class="mb-2">
    <label for="device{{context}}-max"><b>Max brightness:</b></label>
    <input type="text" class="form-control" id="device{{context}}-max" placeholder="1023" name="device{{context}}-max" required>
</div>

<div class="mb-2">
    <label for="device{{context}}-default_rule"><b>Default Rule:</b></label>
    <input type="default_rule" class="form-control" id="device{{context}}-default_rule" placeholder="" name="device{{context}}-default_rule" required>
</div>
