<label for="sensor{{index}}-type" class="form-label sensor{{index}}"><b>Type:</b></label>
<div>
    <select onchange="load_sensor_section(this)" id="sensor{{index}}-type" class="form-select sensorType sensor{{index}} instanceType" autocomplete="off" required>
    <option value="clear" disabled>Select sensor type</option>
    {# Add option for each sensor in metadata object #}
    {% for device, metadata in metadata.sensors.items %}
        <option value="{{metadata.type}}" {% if selected == metadata.type %} selected {% endif %}>{{metadata.name}}</option>
    {% endfor %}
    </select>
</div>
