<div class="mb-3">
    <label class="w-100">
        <b>Target Node:</b>
        <select class="form-select" onchange="api_target_selected(this);update_config(this);" data-section="{{category}}{{index}}" data-param="ip">
            <option value="" selected="selected"></option>
            {% for node, ip in api_target_options.addresses.items %}
                <option value="{{ip}}" {% if params.ip == ip %}selected{% endif %}>{{node}}</option>
            {% endfor %}
        </select>
    </label>
</div>
